/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}
input {
    margin-right: 10px;
    /*width: 100%;*/
}

.gwt-TabPanel
{
    height: 100%;
}
.gwt-TabBar .gwt-TabBarFirst, .gwt-TabBar .gwt-TabBarRest {
    width: 10px;
}

.gwt-TabPanel .gwt-TabPanelContent {
    width: 100%;
    border: 2px solid #e6e7e8;
    border-top-width: 3px;
    overflow: hidden;
    padding: 6px;
    background: #FFFFFF;
}
.gwt-TabPanelBottom {
    border-radius: 10px;

    border: 1px solid #ccc;
    border-top-width: 0;
    overflow: hidden;
    padding: 6px;
}
.gwt-TabBar .gwt-TabBarItem  {
    margin-left: 1px;
    padding: 6px 16px 6px 16px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    font-weight: normal;
    text-align: center;
    /*background: #999;*/
    background: #8e8e8e;
    border-radius: 5px 5px 0 0;
    outline: none;

}

.gwt-TabBar .gwt-TabBarItem-selected {
    cursor: default;
    background: #ddd;
    font-weight: bold;
    color: #555;
}


.gwt-DisclosurePanel a {
    text-decoration: none;
    color: #333;
}
/* to align Disclosure Panel's Header */
.gwt-DisclosurePanel td {
    text-align: center;
}

.gwt-DisclosurePanel.gwt-DisclosurePanel-open  {
    /*background: #999;*/
    background: #8e8e8e;
    font-weight: bold;
}

.gwt-CheckBox {
    margin-left: 24%
}
.padding {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
}

.configBlock {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 0 10px 0;
    text-align: center;
    background: #ddd;
    font-size: 1.2em;
}
.error {
    color: darkred;
}

.gwt-DisclosurePanel-open .gwt-DisclosurePanel-open{
    border: solid 1px #555;
}


