/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}
input {
    margin-right: 10px;
}

.gwt-TabPanel
{
    height: 100%;
}
.gwt-TabBar .gwt-TabBarFirst, .gwt-TabBar .gwt-TabBarRest {
    width: 10px;
}

.gwt-TabPanel .gwt-TabPanelContent {
    width: 100%;
    border: 2px solid #e6e7e8;
    border-top-width: 3px;
    overflow: hidden;
    padding: 6px;
    background: #FFFFFF;
}
.gwt-TabPanelBottom {
    /*border: 2px solid #458818;*/
    border-radius: 10px;

    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px;
    overflow: hidden;
    padding: 6px;
}
.gwt-TabBar .gwt-TabBarItem  {
    margin-left: 1px;
    padding: 6px 16px 6px 16px;
    cursor: pointer;
    font-size: 1.2em;
    /*color: #8bc53d;*/
    color: white;
    font-weight: normal;
    text-align: center;
    /*background: #458818;*/
    background: #8E8E8E;
    border-radius: 5px 5px 0 0;
    outline: none;

}

.gwt-TabBar .gwt-TabBarItem-selected {
    cursor: default;
    /*background: #8bc53d;*/
    /*font-size: 1.2em;*/
    /*color: #FFFFFF;*/
    /*background: white;*/
    background: #ddd;
    color: #333;
    font-weight: bold;
}

.gwt-TabBar .gwt-TabBarItem-disabled {
    cursor: default;
    color: #999;
}

.gwt-DisclosurePanel {
    font-size: 1.2em;
}
.gwt-DisclosurePanel a {
    text-decoration: none;
    color: #333;
}
.gwt-DisclosurePanel td {
    text-align: center;
}

.gwt-DisclosurePanel.gwt-DisclosurePanel-open  {
    background: #999;
    color: #333;
    font-weight: bold;

}
.gwt-DisclosurePanel.gwt-DisclosurePanel-closed {
    background:  #ddd;
}
.gwt-CheckBox {
    margin-left: 24%
}
.padding {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
}

.configBlock {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.gwt-DisclosurePanel-open .gwt-DisclosurePanel-open{
    border: solid 1px #555;
}