<!doctype html>

<html lang="en" ng-app="XmlConfigEditor">
<head>
    <title>Hello AngularJS</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/global.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" defer ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js" defer></script>
    <script src="js/scripts.js" defer></script>
    <script src="js/ModalInstanceController.js" defer></script>
    <script src="js/editorService.js" defer></script>

</head>

<body ng-controller="ConfigViewController" class="generic-container">

    <uib-tabset>
        <uib-tab index="$index"  ng-repeat="tabBlock in configInfo.configBlock.blocks" heading="{{tabBlock.displayName}}" disable="tab.disabled">
            <div  ng-include="'templates/ConfigBlockTemplate.html'" ng-init="block = tabBlock"></div>
        </uib-tab>
    </uib-tabset>
    <div class="row">
        <div class="floatRight">
            <button type="button" ng-click="saveConfigInfo(true)" class="btn btn-warning btn-sm" ng-disabled="changedEntriesCount == 0">Save changes</button>
        </div>
    </div>
</body>
</html>