/*h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}*/

/*body, td, a, div, .p {
    font-family: arial, sans-serif
}*/
body {
    margin: 15px;
}

.uib-tab {
    margin-right: 1px; /*space between tabs */
    /*font-size: 1.2em;*/ /* font-size of tabs */
    background: #8e8e8e; /*inactive background*/
    border-radius: 5px 5px 0 0; /* tab border-radius*/
}

.nav-tabs{
    border-bottom: none; /* override for navs.less style */
    padding-left: 10px; /* padding for first tab */
}
.nav-tabs>li.active{ /* styling for selected tab */
    background: #ddd;
    font-weight: bold;
    color: #555;
}
.nav-tabs>li.active>a, /* styling for selected tab's inner link, override for navs.less style */
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: none;
    border: none;
}

.nav-tabs>li>a {
    margin-right: 0px; /* override for bootstrap.css, */
    border: none; /* override for bootstrap.css, */
    padding: 6px 16px 6px 16px; /* override for .nav>li>a from navs.less */
    color: white; /* override of a from bootstrap.css */
}

.tab-content {
    border-radius: 10px;
    border: 1px solid #ccc;
    border-top-width: 0;
    padding: 8px;
}


input[type="text"]{
    /*width: 100%;*/
    /*font-size: 1em;*/
}

/*.configEntryRow {
    background: #eee;
    border: 2px solid #eee;
    border-radius: 10px 0 0 10px
}*/
.configEntryName {
    text-align: right;
    /*font-size: 1em;*/
    background: #e6e6e6;
    border: 2px solid white;
    padding: 5px 10px 5px 2px ;
    border-radius: 10px 0 0 10px
}
.configEntryValueEditable {
    /*text-align: right;
    font-size: 1em;*/
    background: #eee;
    border: 2px solid white;
    padding: 2px 10px 2px 2px ;
}
.configEntryValueNonEditable {
    /*text-align: right;
    font-size: 1em;*/
    background: #eee;
    border: 2px solid white;
    padding: 5px 10px 5px 2px ;
}
.configEntryValueEditable:hover, .configEntryValueNonEditable:hover {
    background: #aeaeae;
}

.configBlock {
    margin-top: 5px;
    text-align: center;
    background: #8e8e8e;
    /*font-size: 1.2em;*/
}

.panel {
    border: none;
}
.panel-group .panel, .panel-heading {
    border-radius: 10px; /* override for panels.less */
}
.panel-heading-opened {
    border-radius: 10px 10px 0 0;
    background: #8e8e8e;
    font-weight: bold;
}
.panel-default>.panel-heading {
    padding: 0; /**hack: override, actual padding 10px 15px goes to inner panel heading div**/
}
.panel-heading:hover {
    background: #aeaeae;
}
.blackBordered {
    border: 1px solid black;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none; /* override, was default border-top */
}
a:focus, a:hover {
    text-decoration: none; /* override of a in tab header , tab-focus.less*/
}

/*https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.row > [class*='col-'] {
  display: grid;
}