<div class="row">
  <div class="col-xs-3 configEntryName">
    {{entry.name}}
  </div>
  <div class="col-xs-9 " ng-class="{configEntryValueEditable: entry.editable && !savedAfterTimeout, configEntryValueNonEditable: !entry.editable || savedAfterTimeout}">
    <input type="text" name="input" ng-model="entry.value" ng-change="configEntryValueChanged(entry, '{{entry.value}}')" ng-if="entry.editable && !savedAfterTimeout">
    <span ng-if="!entry.editable || savedAfterTimeout">{{entry.value}}</span>
  </div>
</div>